@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 25 26 34;
    --fg: 255 255 255;

    --accent: 87 90 198;
    --accent-fg: 255 255 255;

    --bg-2: 34 36 46;
    --fg-2: 229 229 239;

    --bg-3: 47 49 64;
    --fg-3: 229 229 239;

    --border: 44 45 58;
    --muted: 158 159 168;
    --sidebar: 21 22 28;
    --highlight: 50 52 70;
    --danger: 235 86 86;
    --overlay: 25 26 34;
    --scrollbar: 94 95 102;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }

  @supports (font-variation-settings: normal) {
    :root { 
      font-family: InterVariable, sans-serif; 
    }
  }
}

@layer base {
  body {
    @apply bg-bg text-fg;
  }

  html, body, #root {
    height: 100%;
  }

  button:focus, input:focus, textarea:focus, a {
    @apply outline-none ring-accent ring-1;
  }

  input::placeholder, textarea::placeholder {
    @apply text-muted;
  }
}

.scroller::-webkit-scrollbar {
  @apply w-1.5 h-1.5;
}

.scroller::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.scroller::-webkit-scrollbar-thumb {
  @apply bg-scrollbar;
}

.ellipsis {
  @apply whitespace-nowrap text-ellipsis overflow-hidden;
}

.blink-bg {
  animation: blink-bg 1.5s ease-in-out;
}

@keyframes blink-bg {
  0% {
   background-color: transparent;
  }
  25% {
   background-color: rgb(var(--accent) / 0.2);
  }
  75% {
   background-color: rgb(var(--accent) / 0.2);
  }
  100% {
   background-color: transparent;
  }
}

em-emoji-picker {
  --color-border: 25 26 34;
  --rgb-accent: 87 90 198;
  --rgb-background: 34 36 46;
  --rgb-color: 229 229 239;
  --rgb-input: 47 49 64;
  --color-border: rgba(47, 49, 64, 1);
  --border-radius: 0.375rem;
}

.participant:hover {
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) fill 1;
}

.dialog-overlay {
  @apply bg-overlay/30 inset-0 fixed
}

.dialog-content {
  @apply fixed bg-bg-2 text-fg-2 rounded-md shadow-md p-4 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] max-w-[470px] w-[90vw] border border-border focus:outline-none
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 margin: 0; 
}
