@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--brand: 29 155 240;
		--overlay: 49 64 78;

		/* light theme by default */
		--bg: 251 251 251;
		--fg: 48 48 49;
		--bg-2: 237 237 237;
		--muted: 137 137 139;
		--border: 220 220 220;
		--brand-fg: 255 255 255;
		--accent: 237 237 238;
		--danger: 239 68 68;
		--scrollbar: 237 237 237;
	}

	html[data-theme='dark'] {
		--bg: 0 0 0;
		--fg: 247 249 249;
		--bg-2: 22 24 28;
		--border: 47 51 54;
		--muted: 113 118 123;
		--accent: 15 15 15;
		--brand-fg: 255 255 255;
		--danger: 239 68 68;
		--scrollbar: 22 24 28;
	}

	html[data-theme='light'] {
		--bg: 251 251 251;
		--fg: 48 48 49;
		--bg-2: 237 237 237;
		--muted: 137 137 139;
		--border: 220 220 220;
		--brand-fg: 255 255 255;
		--accent: 237 237 238;
		--danger: 239 68 68;
		--scrollbar: 237 237 237;
	}

	html[data-theme='dim'] {
		--bg: 21 32 43;
		--fg: 247 249 249;
		--bg-2: 30 39 50;
		--border: 56 68 77;
		--muted: 139 152 165;
		--accent: 29 43 57;
		--brand-fg: 255 255 255;
		--danger: 239 68 68;
		--scrollbar: 29 43 57;
	}

	@media (prefers-color-scheme: dark) {
		/* dark theme */
		:root {
			--bg: 0 0 0;
			--fg: 247 249 249;
			--bg-2: 22 24 28;
			--border: 47 51 54;
			--muted: 113 118 123;
			--accent: 15 15 15;
			--brand-fg: 255 255 255;
			--danger: 239 68 68;
			--scrollbar: 22 24 28;
		}
	}

	@supports (font-variation-settings: normal) {
		:root {
			font-family: InterVariable, sans-serif;
		}
	}
	body {
		@apply bg-bg text-fg;
	}

	html,
	body,
	#root {
		height: 100%;
	}

	button:focus,
	input:focus,
	textarea:focus,
	a:focus {
		@apply outline-none ring-brand ring-1;
	}

	input::placeholder {
		@apply text-muted;
	}

	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
	}
}

.scroller::-webkit-scrollbar {
	@apply w-1.5 h-1.5;
}

.scroller::-webkit-scrollbar-track {
	@apply bg-transparent;
}

.scroller::-webkit-scrollbar-thumb {
	@apply bg-scrollbar;
}

.ellipsis {
	@apply whitespace-nowrap text-ellipsis overflow-hidden;
}

.blink-bg {
	animation: blink-bg 1.5s ease-in-out;
}

@keyframes blink-bg {
	0% {
		background-color: transparent;
	}
	25% {
		background-color: rgb(var(--brand) / 0.2);
	}
	75% {
		background-color: rgb(var(--brand) / 0.2);
	}
	100% {
		background-color: transparent;
	}
}

em-emoji-picker {
	--rgb-accent: var(--brand);
	--rgb-background: var(--bg);
	--rgb-color: var(--muted);
	--rgb-input: var(--bg-2);
	--border-radius: 0.375rem;
	--color-border: theme('colors.accent');
}

.participant:hover {
	border-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		)
		fill 1;
}

.dialog-overlay {
	@apply bg-overlay inset-0 fixed;
}

.dialog-content {
	@apply fixed bg-bg rounded-md shadow-md p-4 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] max-w-[470px] w-[90vw] focus:outline-none;
}

#messages-textarea::placeholder {
	@apply text-muted text-[15px];
}

.user-mention {
	@apply text-yellow-500;
}
