@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: 25 26 34;
    --fg: 255 255 255;

    --accent: 87 90 198;
    --accent-fg: 255 255 255;

    --bg-2: 34 36 46;
    --fg-2: 229 229 239;

    --bg-3: 47 49 64;
    --fg-3: 229 229 239;

    --border: 44 45 58;
    --muted: 158 159 168;

    --sidebar: 21 22 28;
    --highlight: 50 52 70;
    --danger: 235 86 86;
    --overlay: 25 26 34;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
  }

  @supports (font-variation-settings: normal) {
    :root { 
      font-family: InterVariable, sans-serif; 
    }
  }
}

@layer base {
  body {
    @apply bg-bg text-fg;
  }

  html, body, #root {
    height: 100%;
  }

  button:focus, input:focus, textarea:focus {
    @apply outline-none ring-accent ring-1;
  }

  input::placeholder, textarea::placeholder {
    @apply text-muted;
  }
}

.scroller::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scroller::-webkit-scrollbar-track {
  background: transparent;
}

.scroller::-webkit-scrollbar-thumb {
  background: theme(colors.gray.300);
}

.ellipsis {
  @apply whitespace-nowrap text-ellipsis overflow-hidden;
}

.blink-bg {
  animation: blink-bg 1.5s ease-in-out;
}

@keyframes blink-bg {
  0% {
   background-color: transparent;
  }
  25% {
   background-color: rgb(var(--accent) / 0.2);
  }
  75% {
   background-color: rgb(var(--accent) / 0.2);
  }
  100% {
   background-color: transparent;
  }
}
